<!DOCTYPE html>
<html>

	<head>
		<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>我的速运-注册</title>

		<link rel="stylesheet" type="text/css" href="css/styleloginsign.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/self/effect.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>

		<!--[if IE]>
    <script  type="text/javascript" src="js/html5.js"></script>
    <script  type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<!--head-->
		<div class="loginnav">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"><img src="images/icon/logo.png"></a>
						<span class="logintitle">用户注册</span>
					</div>

				</div>

			</nav>
		</div>
		<div class="container">
			<!--mainsignup-->
			<section class="mainsign">
				<div class="headnav">

				</div>

				<div ng-app="signupApp" ng-controller="signupCtrl"  class="signup">
					<div class="col-md-9 signupbox">
						<form id="customerForm" action="customer_regist" method="post" class="form col-md-6">
							<div class=" form-group">
								<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>手机号</label>
								<div class="col-sm-8">
									<input type="text" name="telephone" ng-model="telephone" class="form-control" id="telephone" placeholder="请输入手机号">
								</div>
							</div>
							<div class="form-group">
								<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>验证码</label>
								<div class="col-sm-4">
									<input type="text" name="checkCode" class="form-control" id="checkCode" placeholder="请输入验证码">
								</div>
								<div class="col-sm-5 song">
									<button type="button" ng-click="getCheckCode(telephone)" ng-bind="btnMsg" class="btn btn-default">
										获取验证码
									</button>
								</div>

							</div>
							<div class="form-group">
								<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>密码</label>
								<div class="col-sm-8">
									<input type="password" name="password" class="form-control" id="password" placeholder="6-16位数字或英文字母">
									<p class="text-right grey">安全强度：*****</p>
								</div>

							</div>

							<div class="form-group">
								<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>确认密码</label>
								<div class="col-sm-8">
									<input type="password" class="form-control" id="repassword" placeholder="6-16位数字或英文字母">
								</div>
							</div>
							<div class="form-group">
								<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>绑定邮箱</label>
								<div class="col-sm-8">
									<input type="email" name="email" class="form-control" id="inputemail" placeholder="请输入需要绑定的邮箱">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8 song">
									<div class="checkbox">
										<label>
						    	  <input type="checkbox"> 查看并同意<a href="#"> 《速运快递服务协议》</a>
						    	</label>
									</div>

								</div>
							</div>
							<div class="form-group signbtn">
								<div class="col-sm-offset-3 col-sm-8 song">
									<!--<a class="btn btn-danger" href="signup-success.html">注册</a>-->
									<a class="btn btn-danger" href="javascript:$('#customerForm').submit()">注册</a>
								</div>
							</div>

						</form>

					</div>
					<div class="col-md-3 introbox">
						<div class="signintro">
							<h5 class="redtext">注册成为速运会员，您可以享受更多的服务！</h5>
							<ul>
								<li class="list-group">积分奖励，电子运单专享特权</li>
								<li class="list-group">快速理赔，保价优惠</li>
								<li class="list-group">大陆偏远地区附加费减免</li>
								<li class="list-group">快件路由订阅，快件信息管理，批量下单</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!--foot-->
		<footer>
			<section class="copyright size12">
				<div class="container">
					<p class="text-center">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 </p>
					<p class="text-center">京ICP备08001421号京公网安备110108007702</p>
				</div>
			</section>
		</footer>
		
		<script type="text/javascript">
			//定义模块
			var signupApp=angular.module("signupApp",[]);
			
			//定义控制器
			signupApp.controller("signupCtrl",["$scope","$http",function(myscope,myhttp){
				myscope.btnMsg="发送验证码";   // 双向绑定, 设置按钮的内容
				var active= true;  //设置active的原因是防止在倒计时的过程中, 点击按钮,导致重复计时
				var second=10;
				var secondInterval;
				
				myscope.getCheckCode=function(telephone){
					//如果active是false的, 不让其按active按钮
					if (active==false) {
						return ; 
					}
					//发送验证码请求之前, 验证手机号是否符合规范
					var regex=/^1(3|5|7|8)\d{9}$/; 
					if (regex.test(telephone)) {
						myhttp({
							url: 'customer_sendSms',
							method: 'GET' , 
							params : {
								"telephone" :  myscope.telephone 
							}
						}).error(function(data, status, headers, config) {
							// 当响应以错误状态返回时调用
							alert("发送短信出错，请联系管理员");
						});
					}else{
						alert("手机号无效, 请重新输入")
						return ; 
					}
					
					active =false;
					secondInterval =setInterval(function(){
						if(second<0){
							//second 小于0 代表  倒计时结束, 可以重新发送
							myscope.btnMsg="重新发送验证码";
							myscope.$digest()  //强制更新视图的原因是 , 显示倒计时 
							active =true;  // active 设置为true, 代表  可以再次点击按钮
							
							second = 10; // 重新给second赋值
							//关闭定时器
							clearInterval(secondInterval);
							secondInterval=undefined ; 
						}else{
							myscope.btnMsg=second+"秒后重新发送"
							myscope.$digest() 
							second--; 
						}
					},1000); // 设置 定时器为1秒    
				}
			}])
			
		</script>
		
		
	</body>

</html>